Django>=4.2
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gunicorn
google-genai
pydantic
requests

# PostgreSQL
psycopg2-binary>=2.9

# Environment variables
python-decouple>=3.8
